@import "tailwindcss";

@theme {
  --font-serif-jp: "Noto Serif JP", serif;
  --font-serif-en: "Playfair Display", serif;

  --color-charcoal: #333333;
  --color-white: #ffffff;
  --color-offwhite: #fafafa;
}

:root {
  --background: #ffffff;
  --foreground: #333333;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-serif-jp);
  font-weight: 300;
  min-height: 100vh;
}

.font-serif-en {
  font-family: var(--font-serif-en);
  letter-spacing: 0.15em;
}

.letter-spacing-wide {
  letter-spacing: 0.2em;
}

.thin-line {
  height: 1px;
  background-color: #333333;
  opacity: 0.2;
}

/* 著作権保護のための画像保存抑制策 */
img {
  -webkit-touch-callout: none;
  /* iOSでの長押しメニューを禁止 */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  /* 画像への直接的なインタラクションを無効化 */
}